@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');


:root {
    --bgc: #F6F7F6;
    --blue-dark: #0E2B63;
    --blue-medium: #004F9F;
    --blue-light: #00B1EB;
    --orange: #EF7D00;
    --yellow: #FFBB00;
    --green: #50AF47;
    --green-light: #AFCA0B;
    --purple: #5A328A;
    --pink: #E72582;
}


:root {
    --pd: 4px;
    --pdsm: 8px;
    --pdlg: 16px;
    --pdxl: 24px;
    --pdxxl: 32px;

    --sidebar: 256px;
    --navbar: 64px;

    --shadow: 0px 4px 4px rgba(207, 207, 207, 0.25);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: var(--vt-c-black);
        --color-background-soft: var(--vt-c-black-soft);
        --color-background-mute: var(--vt-c-black-mute);

        --color-border: var(--vt-c-divider-dark-2);
        --color-border-hover: var(--vt-c-divider-dark-1);

        --color-heading: var(--vt-c-text-dark-1);
        --color-text: var(--vt-c-text-dark-2);
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    position: relative;
    font-weight: normal;
}

body {
    /* min-height: 100vh; */
    color: var(--color-text);
    background: var(--bgc);
    transition: color 0.5s, background-color 0.5s;
    line-height: 1.6;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}