@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700;900&display=swap');


:root {
    --bgc: #F6F7F6;
    --grey: #F6F7F6;
    --inactive: #686868;
    --grey-medium: #ededed;
    --grey-light: #F7F7F7;

    --color-target: #dde7e9;

    --blue-dark: #0E2B63;
    --blue-medium: #004F9F;
    --blue-bright: #3398FF;
    --blue-light: #00B1EB;

    --blue-light-hover: #2ccaff;
    
    --orange: #EF7D00;
    --yellow: #FFBB00;

    --red: #C92424;

    --green: #50AF47;
    --green-light: #AFCA0B;
    --green-light-darker: #779400;

    --purple: #5A328A;
    --pink: #E72582;

    --overlay: rgba(0, 79, 159, 0.2);


    --BAT: linear-gradient(90deg,
            #0e2b63 30.4785%,
            rgba(0, 0, 0, 0) 30.4785%),
        linear-gradient(90deg,
            #004f9f 52.15788%,
            rgba(0, 0, 0, 0) 52.15788%),
        linear-gradient(90deg,
            #00b1eb 64.72807%,
            rgba(0, 0, 0, 0) 64.72807%),
        linear-gradient(90deg,
            #ef7d00 73.22551%,
            rgba(0, 0, 0, 0) 73.22551%),
        linear-gradient(90deg,
            #ffbb00 79.62792%,
            rgba(0, 0, 0, 0) 79.62792%),
        linear-gradient(90deg,
            #50af47 86.69237%,
            rgba(0, 0, 0, 0) 86.69237%),
        linear-gradient(90deg, #afca0b 92.0305%, rgba(0, 0, 0, 0) 92.0305%),
        linear-gradient(90deg, #5a328a 97.0083%, rgba(0, 0, 0, 0) 97.0083%),
        linear-gradient(90deg, #e72582 100%, rgba(0, 0, 0, 0) 100%);
    
    --ms-tag-bg: var(--blue-light);
    --ms-option-bg-selected-pointed: var(--blue-light);
    --ms-option-bg-selected: var(--blue-light);
}


:root {
    --index: calc(1vh + 1vw);

    --pd: 4px;
    --pdsm: 8px;
    --pdlg: 16px;
    --pdxl: 24px;
    --pdxxl: 32px;

    /* --sidebar: 256px; */
    --sidebar: 300px;
    --navbar: 64px;

    --shadow: 0px 4px 4px rgba(207, 207, 207, 0.25);
    --shadow-large: 0px 16px 16px rgba(207, 207, 207, 0.25);

    --radius-8: 8px;
    --radius-4: 4px;

    --tr-1: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    --tr-2: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: var(--vt-c-black);
        --color-background-soft: var(--vt-c-black-soft);
        --color-background-mute: var(--vt-c-black-mute);

        --color-border: var(--vt-c-divider-dark-2);
        --color-border-hover: var(--vt-c-divider-dark-1);

        --color-heading: var(--vt-c-text-dark-1);
        --color-text: var(--vt-c-text-dark-2);
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    position: relative;
    font-weight: normal;
}

body {
    /* min-height: 100vh; */
    color: var(--color-text);
    background: var(--bgc);
    transition: color 0.5s, background-color 0.5s;
    line-height: 1.6;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* 
strong {
    font-weight: 700;
} */